.mainTextDiv{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.mainTextDiv > h1{
    font-size: 60px;
}


@media only screen and (max-width:768px){
    .mainTextDiv > h1{
        font-size: 40px;
    }
}

@media only screen and (max-width:375px){
    .mainTextDiv > h1{
        font-size: 30px;
    }
}